<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   	   <h1>Biography </h1>
   </div>
</div>
<br />
<br />
<%= image_tag @bio.image.url(:medium) %>
<br />
<br />
<p>
  <%= @bio.description.html_safe%>
</p>  