<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Videos</h1>
  </div>
</div>

<br>

<div class="row topsp">
  <% @videos.each do |video| %>
	  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> 
	     <!--<iframe width="100%" height="400px" src="http://www.youtube.com/embed/y3BkednkZNU" frameborder="0" allowfullscreen>
	     </iframe>
	     -->
	     <%= embed(video.url) %>
	  </div>
  <% end %>	  
</div>