<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Pages</h1>
  </div>
</div>

<br>

<p id="notice"><%= notice %></p>

<br>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.title %></td>
          <td><%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_page_path(page) %></td>
          <td><%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, page, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%#= link_to 'New Page', new_page_path %>
